{% set header_title = 'Corporate' %}
{% set header_size = 'xl' %}
{% set header_title_show = false %}
{% set header_visible = 2 %}
{% set header_image = 'assets/images/image-9.jpg' %}
{% set header_text = '
    <h1 class="nk-title display-3">This is Khaki</h1>
    <div class="nk-gap"></div>
    <h2 class="nk-title nk-font-inherit fw-500">The Most Advanced Website Layouts</h2>

    <div class="nk-gap-2"></div>
    <a class="nk-video-fullscreen-toggle" href="https://vimeo.com/108018156">
        <span class="nk-video-icon-2-light"><span class="fa fa-play pl-5"></span></span>
    </a>
' %}
{% set nav_cart = false %}
{% set footer_bg = false %}
{% set side_buttons_visible = true %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <!-- START: Counters -->
    <div class="nk-box text-white text-center">
        <div class="bg-image bg-image-parallax">
            <img class="jarallax-img" src="assets/images/image-5.jpg" alt="">
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="nk-counter">
                    <div class="bg-color bg-dark-1 op-7"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count fs-45">86</div>
                    <h3 class="nk-counter-title h4">Projects</h3>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-counter">
                    <div class="bg-color bg-dark-1 op-4"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count fs-45">1589</div>
                    <h3 class="nk-counter-title h4">Happy Clients</h3>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nk-counter">
                    <div class="bg-color bg-main-1 op-5"></div>
                    <div class="nk-gap-3"></div>
                    <div class="nk-count fs-45">37</div>
                    <h3 class="nk-counter-title h4">Awards Won</h3>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Counters -->

    <!-- START: Features -->
    <div class="nk-box">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-1"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <img src="assets/images/logo-3-light.svg" alt="Khaki HTML Template" width="90">
                    <div class="nk-gap-3"></div>
                    <div class="lead">This is our most powerful template, that provide functionality to create corporate, app showcase, gaming, music, barber, etc websites.</div>
                </div>
            </div>
            <div class="nk-gap-5"></div>
            <div class="row vertical-gap">
                <div class="col-md-4">
                    <div class="nk-ibox-4">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                            <span class="ion-ios-time-outline"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title fs-22">Time Saver</h3>
                            Gathering you'll unto. Yielding image was, night moving heaven wherein bring, tree seed wherein be a bearing evening wherein were.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-ibox-4">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                            <span class="ion-ios-cog-outline"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title fs-22">Clean Code</h3>
                            Beast make years female. Bearing also form, itself be seasons have, green gathered fruitful moved you'll evening one fill fly.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-ibox-4">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                            <span class="ion-ios-chatboxes-outline"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title fs-22">24/7 Support</h3>
                            Gathering us fruitful gathering one. Image upon air which evening all yielding set. Over saw gathering there, fowl sixth to.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Features -->

    <!-- START: Why Choose Us -->
    <div class="nk-box bg-dark-2 text-white">
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="nk-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active fs-17" href="#tabs-1-1" role="tab" data-toggle="tab">Why</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-17" href="#tabs-1-2" role="tab" data-toggle="tab">Choose</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-17" href="#tabs-1-3" role="tab" data-toggle="tab">Us</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a href="https://nkdev.info/docs/khaki-html/" class="nk-btn nk-btn-sm nk-btn-effect-1-bottom nk-btn-circle nk-btn-color-white text-dark-1">
                            <span>Documentation</span>
                            <span class="icon"><span class="ion-ios-book-outline"></span></span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
                        <div class="nk-gap-3"></div>
                        <div class="row vertical-gap align-items-center">
                            <div class="col-md-7">
                                <img src="assets/images/mock-ipad-pro-1.png" alt="" class="nk-img">
                            </div>
                            <div class="col-md-5">
                                <h2 class="nk-title h3">Why Choose Us</h2>
                                <div class="nk-gap"></div>
                                <p class="lead">Fifth sea them after living all fruit divided fruit in to deep his fish creeping appear i firmament itself our set gathering waters. Creeping have, saw. One darkness own. Lights winged likeness set fly one god deep kind morning earth.</p>
                                <div class="nk-gap-1"></div>
                                <h3 class="h5">What we do</h3>
                                <p>Were them image own. Fruit made, female multiply night he, morning, won't fourth seas she'd. From hath life created seed you all winged dominion night was green let us.</p>
                                <small>Green dry life it. Us heaven i is. Tree. Fowl appear were appear appear over evening their bring.</small>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                        <div class="nk-gap-3"></div>

                        <div class="row vertical-gap align-items-center">
                            <div class="col-md-5">
                                <div class="nk-progress nk-progress-xs nk-count" data-progress="91" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">JavaScript</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 91%;" class="bg-white">
                                            <div class="nk-progress-percent">91%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-progress-xs nk-count" data-progress="72" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">PHP</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 72%;" class="bg-white">
                                            <div class="nk-progress-percent">72%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-progress-xs nk-count" data-progress="86" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Photoshop</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 86%;" class="bg-white">
                                            <div class="nk-progress-percent">86%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-progress-xs nk-count" data-progress="43" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Paint</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 43%;" class="bg-white">
                                            <div class="nk-progress-percent">43%</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-progress nk-progress-xs nk-count" data-progress="6" data-progress-mask="{$}%">
                                    <div class="nk-progress-title">Notepad</div>
                                    <div class="nk-progress-line bg-dark-4">
                                        <div style="width: 6%;" class="bg-white">
                                            <div class="nk-progress-percent">6%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="nk-plain-video" data-video="https://vimeo.com/108018156"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
                        <div class="nk-gap-3"></div>
                        <div class="row vertical-gap">
                            <div class="col-md-6 col-lg-3">
                                <div class="nk-image-box-1-a">
                                    <a href="page-about-me.html" class="nk-image-box-link"></a>
                                    <img src="assets/images/team-member-1.jpg" alt="">
                                    <div class="nk-image-box-overlay nk-image-box-center">
                                        <div>
                                            <h3 class="nk-title text-white h5">Gregory Walker</h3>
                                            <h4 class="nk-sub-title text-white op-7">CEO</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="nk-image-box-1-a">
                                    <a href="page-about-me.html" class="nk-image-box-link"></a>
                                    <img src="assets/images/team-member-2.jpg" alt="">
                                    <div class="nk-image-box-overlay nk-image-box-center">
                                        <div>
                                            <h3 class="nk-title text-white h5">Emily Foster</h3>
                                            <h4 class="nk-sub-title text-white op-7">Frontend Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="nk-image-box-1-a">
                                    <a href="page-about-me.html" class="nk-image-box-link"></a>
                                    <img src="assets/images/team-member-3.jpg" alt="">
                                    <div class="nk-image-box-overlay nk-image-box-center">
                                        <div>
                                            <h3 class="nk-title text-white h5">Jack Carlson</h3>
                                            <h4 class="nk-sub-title text-white op-7">Backend Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="nk-image-box-1-a">
                                    <a href="page-about-me.html" class="nk-image-box-link"></a>
                                    <img src="assets/images/team-member-4.jpg" alt="">
                                    <div class="nk-image-box-overlay nk-image-box-center">
                                        <div>
                                            <h3 class="nk-title text-white h5">Claudia Mckinney</h3>
                                            <h4 class="nk-sub-title text-white op-7">Marketing Manager</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Why Choose Us -->

    <!-- START: Blog -->
    <div class="nk-box">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-1"></div>
        <div class="container">

            <div class="text-center">
                <h3 class="nk-title-back">Our Blog</h3>
                <h2 class="nk-title">Recent Posts</h2>
            </div>
            <div class="nk-gap-5"></div>

            <div class="nk-blog-list">

                {% for i in [0, 3] %}
                    {% set post = posts[i] %}
                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        {% if post.type == 'quote' %}
                            <div class="nk-post-meta nk-post-meta-top pb-0">
                                <div class="nk-post-date nk-post-meta-right">
                                    {{ post.date }} <span class="nk-post-by">by {{ post.by | safe }}</span>
                                </div>
                            </div>
                            <div class="nk-post-category">
                                In {{ post.cat | safe}}
                            </div>
                            <h2 class="nk-post-title h3"><a href="{{ post.url }}">{{ post.title }}</a></h2>

                            <blockquote class="nk-blockquote nk-blockquote-styled">
                                <div class="bg-image op-6">
                                    <img class="jarallax-img" src="{{ post.thumb_lg }}" alt="">
                                </div>
                                <a class="nk-blockquote-cont" href="{{ post.url }}">
                                    <div class="nk-blockquote-icon">“</div>
                                    <em>{{ post.excerpt_sm | safe }}</em>
                                    <div class="nk-blockquote-author">{{ post.quote_author }}</div>
                                </a>
                            </blockquote>
                        {% else %}
                            <div class="row vertical-gap">
                                <div class="col-lg-5">
                                    {% if post.type == 'image' or post.type == 'standard' %}
                                        <a href="{{ post.url }}"><img src="{{ post.thumb_lg }}" alt="" class="nk-img-stretch"></a>
                                    {% elif post.type == 'video' %}
                                        <div class="nk-plain-video" data-video="{{ post.video }}"></div>
                                    {% elif post.type == 'audio' %}
                                        <div class="nk-post-audio">
                                            <a href="{{ post.url }}"><img src="{{ post.thumb_lg }}" alt="" class="nk-img-stretch"></a>
                                            <div>
                                                <div class="nk-audio-plain nk-audio-plain-dark" data-src="assets/mp3/OctoSound-sport.mp3">
                                                    <div class="nk-audio-plain-title">
                                                        <strong>OctoSound</strong> - Sport
                                                        <div class="nk-audio-progress">
                                                            <div class="nk-audio-progress-current"></div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-audio-plain-duration">
                                                        05:34
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% elif post.type == 'gallery' %}
                                        <div class="nk-carousel-3" data-arrows="true" data-size="1" data-autoplay="8000">
                                            <div class="nk-carousel-inner nk-popup-gallery">
                                                {% for galleryItem in post.gallery %}
                                                    <div><div>
                                                        <a href="{{ galleryItem.full }}" class="nk-gallery-item" data-size="{{ galleryItem.size }}"><img src="{{ galleryItem.thumb }}" alt=""></a>
                                                    </div></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-7">
                                    <div class="nk-post-meta nk-post-meta-top pb-0">
                                        <div class="nk-post-date nk-post-meta-right">
                                            {{ post.date }} <span class="nk-post-by">by {{ post.by | safe }}</span>
                                        </div>
                                    </div>
                                    <div class="nk-post-category">
                                        In {{ post.cat | safe}}
                                    </div>
                                    <h2 class="nk-post-title h3"><a href="{{ post.url }}">{{ post.title }}</a></h2>

                                    <div class="nk-post-text">
                                        {{ post.excerpt_sm | safe }}
                                    </div>

                                    <div class="nk-post-continue text-left">
                                        <a href="{{ post.url }}">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- END: Post -->
                {% endfor %}

                <div class="text-center">
                    <a href="blog-list.html" class="nk-btn nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                        Read All
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Blog -->

    <!-- START: We Are... -->
    <div class="nk-box bg-dark-1 text-white text-center">
        <div class="bg-image bg-image-parallax op-1">
            <img class="jarallax-img" src="assets/images/image-1.jpg" alt="">
        </div>
        <div class="nk-gap-5"></div>
        <div class="nk-gap-5"></div>
        <div class="container">
            <h2 class="nk-title h1 mb-0">
                We Are
                <span class="d-block d-sm-none"></span>
                <span class="nk-typed bg-white text-dark-1 pl-8 pr-8 pt-5 pb-5 m-5 d-inline-block" data-back-delay="2000"><span>Creative</span><span>Professional</span><span>Young</span><span>Great</span></span>
                <span class="d-block d-sm-none"></span>
                People
            </h2>
        </div>
        <div class="nk-gap-5"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: We Are... -->

    <!-- START: Testimonials -->
    <div class="nk-box bg-gray-1">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-1"></div>
        <div class="container">
            <div class="nk-carousel" data-autoplay="8000">
                <div class="nk-carousel-inner">
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Felicia Meyer</div>
                            <div class="nk-testimonial-source">Product Designer, Apple</div>
                        </blockquote>
                    </div></div>
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Gavin Hale</div>
                            <div class="nk-testimonial-source">Frontend Developer, Google</div>
                        </blockquote>
                    </div></div>
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Antonio Vargas</div>
                            <div class="nk-testimonial-source">CEO, Envato</div>
                        </blockquote>
                    </div></div>
                </div>
                <div class="nk-carousel-prev">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Testimonial Author --></div>
                    Previous
                    <span class="nk-icon-arrow-left"></span>
                </div>
                <div class="nk-carousel-next">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Testimonial Author --></div>
                    Next
                    <span class="nk-icon-arrow-right"></span>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Testimonials -->

    <!-- START: New Era -->
    <div class="nk-box text-center">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-1"></div>
        <img src="assets/images/mock-imac-1.jpg" class="nk-img" alt="">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="nk-title">The New Era of a Responsive Websites</h2>
                    <h3 class="nk-sub-title">The first template, that work with side navigations as native applications.</h3>
                    <div class="nk-gap-2"></div>
                    <p>Subdue. Whales evening. Saw heaven seed Doesn't i third tree open created were our set signs multiply. Bearing their fifth behold herb. Forth god called which moving two, that spirit i to you're fly behold likeness set and gathering in.</p>
                    <div class="nk-gap-2"></div>
                    <a href="https://themeforest.net/item/khaki-multiconcept-bootstrap-4-html-template/16826910?ref=_nK" target="_blank" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-circle nk-btn-color-dark-1">
                        <span class="icon"><i class="ion-bag"></i></span>
                        Purchase Now
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: New Era -->

    <!-- START: Partners -->
    <div class="nk-box bg-dark-3 text-center">
        <div class="nk-gap-1"></div>
        <div class="container">
            <div class="nk-carousel-2 nk-carousel-x5 nk-carousel-no-margin nk-carousel-all-visible" data-autoplay="5000">
                <div class="nk-carousel-inner">
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-1-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-2-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-3-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-4-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-5-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-1-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-6-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-7-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                </div>
            </div>
        </div>
        <div class="nk-gap-1"></div>
    </div>
    <!-- END: Partners -->

{% endblock %}
