{% set custom_css = 'assets/css/custom-typography-music-label.css' %}
{% set header_title = 'Releases' %}
{% set header_show = false %}
{% set nav_logo = 'assets/images/logo-music-label-light.png' %}
{% set nav_logo_url = 'demo-music-label.html' %}
{% set nav_light = true %}
{% set nav_logo_top_light = true %}
{% set nav_sticky = false %}
{% set navigation = {
    "demo-music-label-about.html": {
        "name": "ABOUT"
    },
    "demo-music-label-artists.html": {
        "name": "ARTISTS"
    },
    "demo-music-label-releases.html": {
        "name": "RELEASES"
    },
    "demo-music-label-videos.html": {
        "name": "VIDEOS"
    },
    "demo-music-label-agenda.html": {
        "name": "AGENDA"
    },
    "demo-music-label-news.html": {
        "name": "NEWS"
    }
} %}
{% set page_boxed = true %}
{% set footer = 6 %}
{% set footer_bg = false %}
{% extends 'layouts/layout-8.html' %}

{% block content %}

    <!-- START: Releases -->
    <div class="nk-gap-2"></div>
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-sm-6 col-lg-3">
                <div class="nk-image-box-2 hover">
                    <a href="#" class="nk-image-box-link"></a>
                    <img src="assets/images/label-cover-4-square.jpg" alt="">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>
                            <h3 class="nk-image-box-title h4">Discover The World</h3>
                            <div class="mt-8">
                                <em>by <strong>Carrie</strong></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nk-image-box-2 hover">
                    <a href="#" class="nk-image-box-link"></a>
                    <img src="assets/images/label-cover-3-square.jpg" alt="">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>
                            <h3 class="nk-image-box-title h4">Pure Pleasure</h3>
                            <div class="mt-8">
                                <em>by <strong>Cherly</strong></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nk-image-box-2 hover">
                    <a href="#" class="nk-image-box-link"></a>
                    <img src="assets/images/label-cover-2-square.jpg" alt="">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>
                            <h3 class="nk-image-box-title h4">Play on The Nerves</h3>
                            <div class="mt-8">
                                <em>by <strong>Bryan</strong></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nk-image-box-2 hover">
                    <a href="#" class="nk-image-box-link"></a>
                    <img src="assets/images/label-cover-1-square.jpg" alt="">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>
                            <h3 class="nk-image-box-title h4">Parallel Voices</h3>
                            <div class="mt-8">
                                <em>by <strong>Ella</strong></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nk-image-box-2 hover">
                    <a href="#" class="nk-image-box-link"></a>
                    <img src="assets/images/label-cover-5-square.jpg" alt="">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>
                            <h3 class="nk-image-box-title h4">Foggy Business</h3>
                            <div class="mt-8">
                                <em>by <strong>Jane</strong></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nk-image-box-2 hover">
                    <a href="#" class="nk-image-box-link"></a>
                    <img src="assets/images/label-cover-6-square.jpg" alt="">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>
                            <h3 class="nk-image-box-title h4">The Sexy</h3>
                            <div class="mt-8">
                                <em>by <strong>Paula</strong></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nk-image-box-2 hover">
                    <a href="#" class="nk-image-box-link"></a>
                    <img src="assets/images/label-cover-7-square.jpg" alt="">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>
                            <h3 class="nk-image-box-title h4">We Are Gays</h3>
                            <div class="mt-8">
                                <em>by <strong>Tyrone</strong></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="nk-image-box-2 hover">
                    <a href="#" class="nk-image-box-link"></a>
                    <img src="assets/images/label-cover-8-square.jpg" alt="">
                    <div class="nk-image-box-overlay nk-image-box-bottom">
                        <div>
                            <h3 class="nk-image-box-title h4">Shit Talking</h3>
                            <div class="mt-8">
                                <em>by <strong>Marion</strong></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-4"></div>
    <!-- END: Releases -->

    {% set instagram_template = '<div class="col-4 col-md-2"><a href="{{link}}" target="_blank"><img src="{{image}}" alt="{{caption}}" class="nk-img-stretch"></a></div>' %}
    <!-- START: Instagram -->
    <div class="nk-box text-center">
        <div class="nk-instagram row no-gutters multi-column" data-instagram-template='{{ instagram_template | safe }}' data-instagram-quality="md"
        ></div>
    </div>
    <!-- END: Instagram -->

{% endblock %}
