{% set header_title = 'Documentation for Khaki HTML Template' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container text-center">
        <div class="nk-gap-4"></div>

        <a href="https://nkdev.info/docs/khaki-html/" target="_blank" class="nk-btn nk-btn-x4 nk-btn-effect-1-bottom nk-btn-rounded nk-btn-circle-hover nk-btn-color-dark-2">
            <span class="icon"><i class="ion-help-buoy"></i></span>
            <span>Documentation Moved Here</span>
        </a>

        <div class="nk-gap-4"></div>
    </div>
{% endblock %}
