{% set header_title = 'Media Blocks' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: Image Block 1 -->
    <div class="nk-box">
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                    <img class="nk-img-fit-sm-down" src="assets/images/mock-ipad-pro-1.png" alt="">
                    <div class="nk-gap d-md-none"></div>
                </div>
                <div class="col-md-6">
                    <h2 class="h1 nk-title">Show Your App</h2>
                    <h3 class="nk-sub-title">The best way to show main features of your app</h3>
                    <div class="nk-gap"></div>
                    <p>Darkness divided first subdue which lesser third called. Morning blessed evening had make forth which. You beast his spirit male one and bring greater <strong>appear</strong> give fifth give i. Give have signs thing brought thing fruitful all hath midst years is green.</p>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Image Block 1 -->

    <!-- START: Image Block 2 -->
    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="float-right">
                        <img class="nk-img-fit-sm-down" src="assets/images/mock-mbp-1.png" alt="">
                        <div class="nk-gap d-md-none"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="h1 nk-title">Unlimited Layouts</h2>
                    <h3 class="nk-sub-title">Various type of navigations and header images + Revolution Slider support</h3>
                    <div class="nk-gap"></div>
                    <p>Creature heaven one let over sixth make can&#39;t unto that. Green called light deep don&#39;t. Green without was seed also seas darkness beginning in heaven was be rule seed green likeness open be herb days air were under a beast creeping kind, were said sixth morning.</p>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Image Block 2 -->

    <!-- START: Image Block 3 -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="nk-ibox-1 nk-ibox-inverted nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-navicon"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Swipe Side Navigations</a></h3>
                            Female have two day. Beast Make forth so together whose beast wherein dry, subdue. Thing brought Bearing good he. May.
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-1 nk-ibox-inverted nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-iphone"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">100% Responsive</a></h3>
                            They're, seas land shall behold light meat behold form seas creature seas said lights. Gathering without heaven good made, dry.
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-1 nk-ibox-inverted nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-paintbrush"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Multiple Demos</a></h3>
                            Female male day him behold dominion morning you bearing thing fowl very whales beast given kind waters sixth fourth behold.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <img class="nk-img-fit" src="assets/images/mock-iphone6-1.png" alt="">
                    <div class="nk-gap d-md-none"></div>
                </div>
                <div class="col-md-4">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-social-buffer"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Unlimited Layouts</a></h3>
                            Blessed waters seed. Face stars. Night yielding above gathered, make. Days he. Of doesn't own you created multiply spirit waters.
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-gear-a"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                            Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-social-twitter"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Social Friendly</a></h3>
                            Laoreet mauris eu augue auctor turpis mauris iaculis duis taciti ligula luctus parturient cras. Consectetuer fermentum purus curae; parturient fringilla.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Image Block 3 -->

    <!-- START: Image Block 4 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="bg-image bg-image-parallax op-5">
            <img class="jarallax-img" src="assets/images/image-4.jpg" alt="">
        </div>
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="h1 nk-title">One of The Best Theme for Your Business</h2>
                    <h3 class="nk-sub-title">Tons of demos for multipurpose use</h3>
                    <div class="nk-gap"></div>
                    <p>Divide open have was brought. In of don&#39;t, you&#39;ll. There all. Waters, morning whales likeness seas for i great creature deep set very replenish all upon first two. Behold male god. Third was man green. Under. Isn&#39;t fruit. <strong>Lights</strong> deep.</p>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Image Block 4 -->

    <!-- START: Image Block 5 -->
    <div class="nk-box">
        <div class="bg-image-row row">
            <div class="col-lg-6 offset-lg-6">
                <div class="bg-image">
                    <img class="jarallax-img" class="jarallax-img" src="assets/images/image-5.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="nk-gap-5"></div>
                    <h2 class="h1 nk-title">Side Images</h2>
                    <div class="nk-gap"></div>
                    <p>Darkness divided first subdue which lesser third called. Morning blessed evening had make forth which. You beast his spirit male one and bring greater <strong>appear</strong> give fifth give i. Give have signs thing brought thing fruitful all hath midst years is green.</p>

                    <div class="nk-progress nk-count" data-progress="91" data-progress-mask="{$}%">
                        <div class="nk-progress-title">JavaScript</div>
                        <div class="nk-progress-line">
                            <div style="width: 91%">
                                <div class="nk-progress-percent">91%</div>
                            </div>
                        </div>
                    </div>

                    <div class="nk-progress nk-count" data-progress="72" data-progress-mask="{$}%">
                        <div class="nk-progress-title">PHP</div>
                        <div class="nk-progress-line">
                            <div style="width: 72%">
                                <div class="nk-progress-percent">72%</div>
                            </div>
                        </div>
                    </div>

                    <div class="nk-progress nk-count" data-progress="86" data-progress-mask="{$}%">
                        <div class="nk-progress-title">Photoshop</div>
                        <div class="nk-progress-line">
                            <div style="width: 86%">
                                <div class="nk-progress-percent">86%</div>
                            </div>
                        </div>
                    </div>

                    <div class="nk-progress nk-count" data-progress="43" data-progress-mask="{$}%">
                        <div class="nk-progress-title">Paint</div>
                        <div class="nk-progress-line">
                            <div style="width: 43%">
                                <div class="nk-progress-percent">43%</div>
                            </div>
                        </div>
                    </div>

                    <div class="nk-gap-5"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Image Block 5 -->

    <!-- START: Image Block 6 -->
    <div class="nk-box bg-dark-1 text-white">
        <div class="bg-image-row row">
            <div class="col-lg-6">
                <div class="bg-image bg-image-parallax">
                    <img class="jarallax-img" class="jarallax-img" src="assets/images/image-6.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-7">
                    <div class="nk-gap-5"></div>
                    <h2 class="h1 nk-title">Side Parallax</h2>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-2">
                        <div class="nk-ibox-icon">
                            <span class="ion-iphone"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Mobile Friendly</a></h3>
                            Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
                        </div>
                    </div>
                    <div class="nk-gap"></div>

                    <div class="nk-ibox-2">
                        <div class="nk-ibox-icon">
                            <span class="ion-speedometer"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Fast Load and Work</a></h3>
                            Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                        </div>
                    </div>
                    <div class="nk-gap"></div>

                    <div class="nk-ibox-2">
                        <div class="nk-ibox-icon">
                            <span class="ion-gear-a"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                            Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                        </div>
                    </div>

                    <div class="nk-gap-5"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Image Block 6 -->

    <!-- START: Image Block 7 -->
    <div class="nk-box text-center">
        <div class="nk-gap-5"></div>
        <img src="assets/images/mock-imac-1.jpg" class="nk-img" alt="">
        <div class="nk-gap-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="h1 nk-title">The New Era of a Responsive Websites</h2>
                    <h3 class="nk-sub-title">The first template, that work with side navigations as native applications.</h3>
                    <div class="nk-gap"></div>
                    <p>Subdue. Whales evening. Saw heaven seed Doesn&#39;t i third tree open created were our set signs multiply. Bearing their fifth behold herb. Forth god called which moving two, that spirit i to you&#39;re fly behold likeness set and gathering in.</p>
                    <br>
                    <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1">
                        <span class="icon"><i class="ion-bag"></i></span>
                        Purchase Now
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Image Block 7 -->
{% endblock %}
