{% set header_title = 'Testimonials' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">

            <div class="nk-carousel" data-autoplay="8000">
                <div class="nk-carousel-inner">
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h2">Felicia Meyer</div>
                            <div class="nk-testimonial-source">Product Designer, Apple</div>
                        </blockquote>
                    </div></div>
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h2">Gavin Hale</div>
                            <div class="nk-testimonial-source">Frontend Developer, Google</div>
                        </blockquote>
                    </div></div>
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h2">Antonio Vargas</div>
                            <div class="nk-testimonial-source">CEO, Envato</div>
                        </blockquote>
                    </div></div>
                </div>
                <div class="nk-carousel-prev">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Testimonial Author --></div>
                    Previous
                    <span class="nk-icon-arrow-left"></span>
                </div>
                <div class="nk-carousel-next">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Testimonial Author --></div>
                    Next
                    <span class="nk-icon-arrow-right"></span>
                </div>
            </div>

        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-dark-1">
        <div class="nk-gap-4"></div>
        <div class="container">

            <div class="nk-carousel">
                <div class="nk-carousel-inner">
                    <div><div>
                        <blockquote class="nk-testimonial-1">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                            <div class="nk-testimonial-name nk-carousel-item-name h2">Antonio Vargas</div>
                            <div class="nk-testimonial-source">CEO, Envato</div>
                            <div class="nk-testimonial-body">
                                <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                            </div>
                        </blockquote>
                    </div></div>
                    <div><div>
                        <blockquote class="nk-testimonial-1">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                            <div class="nk-testimonial-name nk-carousel-item-name h2">Felicia Meyer</div>
                            <div class="nk-testimonial-source">Product Designer, Apple</div>
                            <div class="nk-testimonial-body">
                                <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                            </div>
                        </blockquote>
                    </div></div>
                    <div><div>
                        <blockquote class="nk-testimonial-1">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                            <div class="nk-testimonial-name nk-carousel-item-name h2">Gavin Hale</div>
                            <div class="nk-testimonial-source">Frontend Developer, Google</div>
                            <div class="nk-testimonial-body">
                                <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                            </div>
                        </blockquote>
                    </div></div>
                </div>
                <div class="nk-carousel-prev text-white">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Testimonial Author --></div>
                    Previous
                    <span class="nk-icon-arrow-left"></span>
                </div>
                <div class="nk-carousel-next text-white">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Testimonial Author --></div>
                    Next
                    <span class="nk-icon-arrow-right"></span>
                </div>
            </div>

        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>

        <div class="nk-carousel-2" data-autoplay="12000" data-dots="true">
            <div class="nk-carousel-inner">
                <div><div>
                    <blockquote class="nk-testimonial-3">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Gavin Hale</div>
                        <div class="nk-testimonial-source">Frontend Developer, Google</div>
                    </blockquote>
                </div></div>
                <div><div>
                    <blockquote class="nk-testimonial-3">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Antonio Vargas</div>
                        <div class="nk-testimonial-source">CEO, Envato</div>
                    </blockquote>
                </div></div>
                <div><div>
                    <blockquote class="nk-testimonial-3">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Felicia Meyer</div>
                        <div class="nk-testimonial-source">Product Designer, Apple</div>
                    </blockquote>
                </div></div>
                <div><div>
                    <blockquote class="nk-testimonial-3">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-3.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Yielding be was which heaven fill fruit. You'll shall doesn't green. His divided they're of won't you isn't void cattle."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Tiffany Elliott</div>
                        <div class="nk-testimonial-source">Copywriter, Dropbox</div>
                    </blockquote>
                </div></div>
                <div><div>
                    <blockquote class="nk-testimonial-3">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-3.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"God, have rule living creature own the signs. Set herb open, seed wherein god appear shall give lights. Waters to."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Flenn Adams</div>
                        <div class="nk-testimonial-source">Backend Developer, Twitter</div>
                    </blockquote>
                </div></div>
            </div>
        </div>

        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box">
        <div class="bg-image bg-image-parallax op-5">
            <img class="jarallax-img" src="assets/images/image-5.jpg" alt="">
        </div>

        <div class="nk-gap-4"></div>

        <div class="container">
            <h2 class="h1">W/o Carousels Usage</h2>
            <div class="nk-gap-2"></div>

            <div class="row vertical-gap">
                <div class="col-md-6">
                    <blockquote class="nk-testimonial-2">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                        </div>
                        <div class="nk-testimonial-name h2">Antonio Vargas</div>
                        <div class="nk-testimonial-source">CEO, Envato</div>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote class="nk-testimonial-2">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-1.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Winged he sixth us beginning multiply fifth stars won't moved said fowl deep gathering the fruitful which may Light face."</em>
                        </div>
                        <div class="nk-testimonial-name h2">Emily Allen</div>
                        <div class="nk-testimonial-source">Frontend Developer, Twitter</div>
                    </blockquote>
                </div>

                <div class="col-md-6">
                    <blockquote class="nk-testimonial-1">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                        <div class="nk-testimonial-name h2">Felicia Meyer</div>
                        <div class="nk-testimonial-source">Product Designer, Apple</div>
                        <div class="nk-testimonial-body">
                            <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                        </div>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote class="nk-testimonial-1">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                        <div class="nk-testimonial-name h2">Gavin Hale</div>
                        <div class="nk-testimonial-source">Frontend Developer, Google</div>
                        <div class="nk-testimonial-body">
                            <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                        </div>
                    </blockquote>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-6">
                    <blockquote class="nk-testimonial-3">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-3.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Yielding be was which heaven fill fruit. You'll shall doesn't green. His divided they're of won't you isn't void cattle."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Tiffany Elliott</div>
                        <div class="nk-testimonial-source">Copywriter, Dropbox</div>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote class="nk-testimonial-3">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-3.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"God, have rule living creature own the signs. Set herb open, seed wherein god appear shall give lights. Waters to."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Flenn Adams</div>
                        <div class="nk-testimonial-source">Backend Developer, Twitter</div>
                    </blockquote>
                </div>
            </div>

        </div>

        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box">
        <div class="nk-gap-4"></div>

        <div class="container">
            <h2 class="h1">Colored</h2>
            <div class="nk-gap-2"></div>

            <div class="row vertical-gap">
                <div class="col-md-6">
                    <blockquote class="nk-testimonial-2 bg-dark-1 text-white">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                        </div>
                        <div class="nk-testimonial-name h2">Antonio Vargas</div>
                        <div class="nk-testimonial-source">CEO, Envato</div>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote class="nk-testimonial-2 bg-dark-4 text-white">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-1.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Winged he sixth us beginning multiply fifth stars won't moved said fowl deep gathering the fruitful which may Light face."</em>
                        </div>
                        <div class="nk-testimonial-name h2">Emily Allen</div>
                        <div class="nk-testimonial-source">Frontend Developer, Twitter</div>
                    </blockquote>
                </div>

                <div class="col-md-6">
                    <blockquote class="nk-testimonial-1 bg-gray-4">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                        <div class="nk-testimonial-name h2">Felicia Meyer</div>
                        <div class="nk-testimonial-source">Product Designer, Apple</div>
                        <div class="nk-testimonial-body">
                            <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                        </div>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote class="nk-testimonial-1 bg-gray-1">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                        <div class="nk-testimonial-name h2">Gavin Hale</div>
                        <div class="nk-testimonial-source">Frontend Developer, Google</div>
                        <div class="nk-testimonial-body">
                            <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                        </div>
                    </blockquote>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-6">
                    <blockquote class="nk-testimonial-3 bg-main-3 text-white">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-3.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Yielding be was which heaven fill fruit. You'll shall doesn't green. His divided they're of won't you isn't void cattle."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Tiffany Elliott</div>
                        <div class="nk-testimonial-source">Copywriter, Dropbox</div>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote class="nk-testimonial-3 bg-main-5 text-white">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-3.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"God, have rule living creature own the signs. Set herb open, seed wherein god appear shall give lights. Waters to."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Flenn Adams</div>
                        <div class="nk-testimonial-source">Backend Developer, Twitter</div>
                    </blockquote>
                </div>
            </div>

        </div>

        <div class="nk-gap-4"></div>
    </div>
{% endblock %}
