{% set header_title = 'Pricing Tables' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: Pricing Tables 1 -->
    <div class="nk-box bg-gray-2">
        <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row vertical-gap">
                <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-2">
                    <div class="nk-pricing-1">
                        <div class="nk-pricing-price">
                            $<span class="nk-count" data-nk-count-from="100">34</span>
                        </div>
                        <h3 class="nk-pricing-title">Regular License</h3>

                        <div class="nk-gap-3"></div>
                        <div class="nk-divider"></div>
                        <div class="nk-gap-3"></div>

                        <ul class="nk-pricing-features">
                            <li>Future Updates</li>
                            <li>24/7 Support</li>
                            <li>Single Product Use</li>
                        </ul>

                        <div class="nk-pricing-cover"></div>
                        <a href="#" class="nk-pricing-button">Purchase</a>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="nk-pricing-1">
                        <div class="nk-pricing-price">
                            $<span class="nk-count" data-nk-count-from="200">99</span>
                        </div>
                        <h3 class="nk-pricing-title">Extended License</h3>

                        <div class="nk-gap-3"></div>
                        <div class="nk-divider"></div>
                        <div class="nk-gap-3"></div>

                        <ul class="nk-pricing-features">
                            <li>Future Updates</li>
                            <li>24/7 Support</li>
                            <li>Multi Product Use</li>
                            <li>Community Plugins Access</li>
                        </ul>

                        <div class="nk-pricing-cover bg-dark-4"></div>
                        <a href="#" class="nk-pricing-button">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <!-- END: Pricing Tables 1 -->

    <!-- START: Pricing Tables 2 -->
    <div class="nk-box bg-dark-1">
        <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row vertical-gap">
                <div class="col-md-4">
                    <div class="nk-pricing-2">
                        <div class="nk-pricing-header">
                            <div class="bg-image op-6">
                                <img class="jarallax-img" src="assets/images/image-3-800x450.jpg" alt="">
                            </div>
                            <div class="nk-pricing-price">
                                <span class="nk-pricing-currency">$</span>34
                                <span class="nk-pricing-period">/ mo</span>
                            </div>
                            <h3 class="nk-pricing-title">Startup License</h3>
                        </div>

                        <div class="nk-pricing-body">
                            <ul class="nk-pricing-features">
                                <li>1 GB HDD</li>
                                <li>Support at $25/hour</li>
                                <li>Limited cloud access</li>
                            </ul>

                            <div class="nk-pricing-button">
                                <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-pricing-2">
                        <div class="nk-pricing-header">
                            <div class="bg-image op-6">
                                <img class="jarallax-img" src="assets/images/image-2-800x450.jpg" alt="">
                            </div>
                            <div class="nk-pricing-price">
                                <span class="nk-pricing-currency">$</span>99
                                <span class="nk-pricing-period">/ mo</span>
                            </div>
                            <h3 class="nk-pricing-title">Business License</h3>
                        </div>

                        <div class="nk-pricing-body">
                            <ul class="nk-pricing-features">
                                <li>15 GB SSD</li>
                                <li>Support at $5/hour</li>
                                <li>Full cloud access</li>
                            </ul>

                            <div class="nk-pricing-button">
                                <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-pricing-2">
                        <div class="nk-pricing-header">
                            <div class="bg-image op-6">
                                <img class="jarallax-img" src="assets/images/image-8-800x450.jpg" alt="">
                            </div>
                            <div class="nk-pricing-price">
                                <span class="nk-pricing-currency">$</span>199
                                <span class="nk-pricing-period">/ mo</span>
                            </div>
                            <h3 class="nk-pricing-title">Enterprise License</h3>
                        </div>

                        <div class="nk-pricing-body">
                            <ul class="nk-pricing-features">
                                <li>35 GB SSD RAID0</li>
                                <li>Free Lifetime Support</li>
                                <li>Full cloud access</li>
                            </ul>

                            <div class="nk-pricing-button">
                                <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <!-- END: Pricing Tables 2 -->

    <!-- START: Pricing Tables 3 -->
    <div class="nk-box bg-gray-2">
        <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row vertical-gap align-items-center">
                <div class="col-md-4">
                    <div class="nk-pricing-3">
                        <h3 class="nk-pricing-title">Startup License</h3>

                        <div class="nk-pricing-price">
                            <span class="nk-pricing-currency">$</span>34
                            <span class="nk-pricing-period">/ mo</span>
                        </div>

                        <ul class="nk-pricing-features">
                            <li>1 GB HDD</li>
                            <li>Support at $25/hour</li>
                            <li>Limited cloud access</li>
                        </ul>

                        <div class="nk-pricing-button">
                            <a href="#" class="nk-btn nk-btn-block nk-btn-rounded nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-pricing-3 bg-dark-4 text-white">
                        <h3 class="nk-pricing-title">Enterprise License</h3>

                        <div class="nk-pricing-price">
                            <span class="nk-pricing-currency">$</span>199
                            <span class="nk-pricing-period">/ mo</span>
                        </div>

                        <ul class="nk-pricing-features">
                            <li>35 GB SSD RAID0</li>
                            <li>Free Lifetime Support</li>
                            <li>Full cloud access</li>
                            <li>Community Forum Access</li>
                            <li>Respect From Us</li>
                        </ul>

                        <div class="nk-pricing-button">
                            <a href="#" class="nk-btn nk-btn-block nk-btn-rounded nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-2">Purchase</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-pricing-3 bg-main-2 text-white">
                        <h3 class="nk-pricing-title">Business License</h3>

                        <div class="nk-pricing-price">
                            <span class="nk-pricing-currency">$</span>99
                            <span class="nk-pricing-period">/ mo</span>
                        </div>

                        <ul class="nk-pricing-features">
                            <li>15 GB SSD</li>
                            <li>Support at $5/hour</li>
                            <li>Full cloud access</li>
                        </ul>

                        <div class="nk-pricing-button">
                            <a href="#" class="nk-btn nk-btn-block nk-btn-rounded nk-btn-x2 nk-btn-effect-5-left nk-btn-color-white text-dark-1">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <!-- END: Pricing Tables 3 -->

    <!-- START: Pricing Tables 4 -->
    <div class="nk-box bg-dark-1">
        <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row no-gutters vertical-gap">
                <div class="col-md-4">
                    <div class="nk-pricing-2">
                        <div class="nk-pricing-header bg-dark-4">
                            <div class="nk-pricing-price">
                                <span class="nk-pricing-currency">$</span>34
                                <span class="nk-pricing-period">/ mo</span>
                            </div>
                            <h3 class="nk-pricing-title">Startup License</h3>
                        </div>

                        <div class="nk-pricing-body">
                            <ul class="nk-pricing-features">
                                <li>1 GB HDD</li>
                                <li>Support at $25/hour</li>
                                <li>Limited cloud access</li>
                            </ul>

                            <div class="nk-pricing-button">
                                <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-pricing-2">
                        <div class="nk-pricing-header bg-main-3">
                            <div class="nk-pricing-price">
                                <span class="nk-pricing-currency">$</span>99
                                <span class="nk-pricing-period">/ mo</span>
                            </div>
                            <h3 class="nk-pricing-title">Business License</h3>
                        </div>

                        <div class="nk-pricing-body">
                            <ul class="nk-pricing-features">
                                <li>15 GB SSD</li>
                                <li>Support at $5/hour</li>
                                <li>Full cloud access</li>
                            </ul>

                            <div class="nk-pricing-button">
                                <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-3">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nk-pricing-2">
                        <div class="nk-pricing-header bg-dark-4">
                            <div class="nk-pricing-price">
                                <span class="nk-pricing-currency">$</span>199
                                <span class="nk-pricing-period">/ mo</span>
                            </div>
                            <h3 class="nk-pricing-title">Enterprise License</h3>
                        </div>

                        <div class="nk-pricing-body">
                            <ul class="nk-pricing-features">
                                <li>35 GB SSD RAID0</li>
                                <li>Free Lifetime Support</li>
                                <li>Full cloud access</li>
                            </ul>

                            <div class="nk-pricing-button">
                                <a href="#" class="nk-btn nk-btn-block nk-btn-circle nk-btn-x2 nk-btn-effect-5-left nk-btn-color-dark-4">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <!-- END: Pricing Tables 4 -->

    <!-- START: Pricing Tables 5 -->
    <div class="nk-box bg-gray-2">
        <div class="container">
            <div class="nk-gap-4"></div>
            <div class="row vertical-gap">
                <div class="col-md-6">
                    <div class="nk-pricing-menu">
                        <h2 class="nk-title h4">Breakfast</h2>
                        <div class="nk-gap-1"></div>
                        <div class="nk-pricing-menu-item">
                            <div class="nk-pricing-header">
                                <h3 class="nk-pricing-title h5">Peach French Toast</h3>
                                <div class="nk-pricing-title-dots"></div>
                                <div class="nk-pricing-price">
                                    $12.10
                                </div>
                            </div>
                            <div class="nk-pricing-sub-title">Honey pecan butter, maple syrup and breakfast sausage</div>
                        </div>
                        <div class="nk-pricing-menu-item">
                            <div class="nk-pricing-header">
                                <h3 class="nk-pricing-title h5">Buttermilk Waffle</h3>
                                <div class="nk-pricing-title-dots"></div>
                                <div class="nk-pricing-price">
                                    $11.25
                                </div>
                            </div>
                            <div class="nk-pricing-sub-title">Ermont maple syrup and whipped butter, choice of bacon, ham or sausage</div>
                        </div>
                        <div class="nk-pricing-menu-item">
                            <div class="nk-pricing-header">
                                <h3 class="nk-pricing-title h5">Omelette</h3>
                                <div class="nk-pricing-title-dots"></div>
                                <div class="nk-pricing-price">
                                    $10.00
                                </div>
                            </div>
                            <div class="nk-pricing-sub-title">Three egg omelette filled with ham, home fries and whole wheat toast</div>
                        </div>
                        <div class="nk-pricing-menu-item">
                            <div class="nk-pricing-header">
                                <h3 class="nk-pricing-title h5">Housemade Granola</h3>
                                <div class="nk-pricing-title-dots"></div>
                                <div class="nk-pricing-price">
                                    $13.33
                                </div>
                            </div>
                            <div class="nk-pricing-sub-title">Fat-free Greek yogurt, seasonal fruit and honey</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="nk-pricing-menu">
                        <h2 class="nk-title h4">Cocktails</h2>
                        <div class="nk-gap-1"></div>
                        <div class="nk-pricing-menu-item">
                            <div class="nk-pricing-header">
                                <h3 class="nk-pricing-title h5">Savannah Sunrise</h3>
                                <div class="nk-pricing-title-dots"></div>
                                <div class="nk-pricing-price">
                                    $7.55
                                </div>
                            </div>
                            <div class="nk-pricing-sub-title">Southern confort, bols peach schnapps. blue moon belguim white</div>
                        </div>
                        <div class="nk-pricing-menu-item">
                            <div class="nk-pricing-header">
                                <h3 class="nk-pricing-title h5">Caliente cooler</h3>
                                <div class="nk-pricing-title-dots"></div>
                                <div class="nk-pricing-price">
                                    $8.12
                                </div>
                            </div>
                            <div class="nk-pricing-sub-title">Southern confort, bols peach schnapps. blue moon belguim white</div>
                        </div>
                        <div class="nk-pricing-menu-item">
                            <div class="nk-pricing-header">
                                <h3 class="nk-pricing-title h5">Tiki Time</h3>
                                <div class="nk-pricing-title-dots"></div>
                                <div class="nk-pricing-price">
                                    $12.00
                                </div>
                            </div>
                            <div class="nk-pricing-sub-title">Bacardi coconut rum, orange juice, sour mix, angostura bitters, grenadine</div>
                        </div>
                        <div class="nk-pricing-menu-item">
                            <div class="nk-pricing-header">
                                <h3 class="nk-pricing-title h5">Sapphire Martini</h3>
                                <div class="nk-pricing-title-dots"></div>
                                <div class="nk-pricing-price">
                                    $6.14
                                </div>
                            </div>
                            <div class="nk-pricing-sub-title">Bombay Sapphire Gin, Dry Vermouth</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
        </div>
    </div>
    <!-- END: Pricing Tables 5 -->
{% endblock %}
