{% set header_title = 'Carousels' %}
{% set header_sub_title = 'Supported any type of content' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <div class="nk-box bg-gray-3">
        <div class="nk-gap-4"></div>
        <div class="container">

            <!-- START: Carousel 1 -->
            <div class="nk-carousel" data-autoplay="8000">
                <div class="nk-carousel-inner">
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Felicia Meyer</div>
                            <div class="nk-testimonial-source">Product Designer, Apple</div>
                        </blockquote>
                    </div></div>
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Gavin Hale</div>
                            <div class="nk-testimonial-source">Frontend Developer, Google</div>
                        </blockquote>
                    </div></div>
                    <div><div>
                        <blockquote class="nk-testimonial-2">
                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                            <div class="nk-testimonial-body">
                                <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                            </div>
                            <div class="nk-testimonial-name nk-carousel-item-name h4">Antonio Vargas</div>
                            <div class="nk-testimonial-source">CEO, Envato</div>
                        </blockquote>
                    </div></div>
                </div>
                <div class="nk-carousel-prev">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Testimonial Author --></div>
                    Previous
                    <span class="nk-icon-arrow-left"></span>
                </div>
                <div class="nk-carousel-next">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Testimonial Author --></div>
                    Next
                    <span class="nk-icon-arrow-right"></span>
                </div>
            </div>
            <!-- END: Carousel 1 -->

        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-dark-1">
        <div class="nk-gap-4"></div>

        <!-- START: Carousel 2 -->
        <div class="nk-carousel-2" data-autoplay="12000" data-dots="true">
            <div class="nk-carousel-inner">
                <div><div>
                    <blockquote class="nk-testimonial-2">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-2.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Bring. Isn't years gathered give made moved. Waters sea forth. It. Gathered own abundantly kind can't it, lesser behold, may."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Gavin Hale</div>
                        <div class="nk-testimonial-source">Frontend Developer, Google</div>
                    </blockquote>
                </div></div>
                <div><div>
                    <blockquote class="nk-testimonial-2">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-1.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Years heaven. Dominion light and every appear that creeping all. Light gathering don't given made give open, cattle was light."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Antonio Vargas</div>
                        <div class="nk-testimonial-source">CEO, Envato</div>
                    </blockquote>
                </div></div>
                <div><div>
                    <blockquote class="nk-testimonial-2">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-2.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Female good moving Very thing form earth, for above herb dominion for made fifth. One them. Seas. Appear fourth seas."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Felicia Meyer</div>
                        <div class="nk-testimonial-source">Product Designer, Apple</div>
                    </blockquote>
                </div></div>
                <div><div>
                    <blockquote class="nk-testimonial-2">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-woman-3.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"Yielding be was which heaven fill fruit. You'll shall doesn't green. His divided they're of won't you isn't void cattle."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Tiffany Elliott</div>
                        <div class="nk-testimonial-source">Copywriter, Dropbox</div>
                    </blockquote>
                </div></div>
                <div><div>
                    <blockquote class="nk-testimonial-2">
                        <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-man-3.jpg');"></div>
                        <div class="nk-testimonial-body">
                            <em>"God, have rule living creature own the signs. Set herb open, seed wherein god appear shall give lights. Waters to."</em>
                        </div>
                        <div class="nk-testimonial-name h4">Flenn Adams</div>
                        <div class="nk-testimonial-source">Backend Developer, Twitter</div>
                    </blockquote>
                </div></div>
            </div>
        </div>
        <!-- END: Carousel 2 -->

        <div class="nk-gap-4"></div>
    </div>
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">

            <!-- START: Carousel 3 -->
            <div class="nk-carousel-2" data-arrows="true">
                <div class="nk-carousel-inner">
                    <div><div>
                        <img src="assets/images/portfolio-2-default.jpg" alt="" class="nk-img-fit">
                    </div></div>
                    <div><div>
                        <img src="assets/images/portfolio-4-default.jpg" alt="" class="nk-img-fit">
                    </div></div>
                    <div><div>
                        <img src="assets/images/portfolio-2-default.jpg" alt="" class="nk-img-fit">
                    </div></div>
                    <div><div>
                        <img src="assets/images/portfolio-1-default.jpg" alt="" class="nk-img-fit">
                    </div></div>
                    <div><div>
                        <img src="assets/images/portfolio-8-default.jpg" alt="" class="nk-img-fit">
                    </div></div>
                </div>
            </div>
            <!-- END: Carousel 3 -->

        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-dark-1">
        <div class="bg-image bg-image-parallax op-5">
            <img class="jarallax-img" src="assets/images/image-5.jpg" alt="">
        </div>
        <div class="nk-gap-4"></div>
        <div class="container">

            <!-- START: Carousel 4 -->
            <div class="nk-carousel-2 nk-carousel-x4 nk-carousel-no-margin nk-carousel-all-visible" data-autoplay="5000">
                <div class="nk-carousel-inner">
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-1-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-2-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-3-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-4-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-5-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-6-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                    <div><div>
                        <a href="#"><img src="assets/images/partner-logo-7-light.png" alt="" class="nk-img-fit"></a>
                    </div></div>
                </div>
            </div>
            <!-- END: Carousel 4 -->

        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box">
        <div class="nk-gap-4"></div>

        <!-- START: Carousel 5 -->
        <div class="nk-carousel-3" data-size="0.8" data-autoplay="15000">
            <div class="nk-carousel-inner">
                {% for folio in portfolio %}
                    <div>
                        <div class="nk-image-box-1 nk-no-effect nk-portfolio-item">
                            <a href="{{ folio.url }}" class="nk-image-box-link nk-portfolio-quick-view"></a>
                            <img class="nk-portfolio-image" src="{{ folio.thumb_full }}" alt="{{ folio.title }}">
                            <h2 class="nk-portfolio-title nk-carousel-item-name"><a href="{{ folio.url }}" class="nk-portfolio-quick-view">{{ folio.title }}</a></h2>
                            <div class="nk-portfolio-sub-title nk-carousel-item-links">{{ folio.date }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="nk-gap"></div>
            <div class="container">
                <div class="nk-carousel-prev">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Portfolio Item --></div>
                    Previous
                    <span class="nk-icon-arrow-left"></span>
                </div>
                <div class="nk-carousel-next">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Portfolio Item --></div>
                    Next
                    <span class="nk-icon-arrow-right"></span>
                </div>
                <div class="nk-carousel-current">
                    <h3 class="nk-carousel-name h4"><!-- There Will be a Name of Portfolio Item --></h3>
                    <div class="nk-carousel-links"></div>
                </div>
            </div>
        </div>
        <!-- END: Carousel 5 -->

        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-gap-4"></div>

        <!-- START: Carousel 6 -->
        <div class="nk-carousel-3" data-size="0.4">
            <div class="container">
                <div class="nk-carousel-prev">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Portfolio Item --></div>
                    Previous
                    <span class="nk-icon-arrow-left"></span>
                </div>
                <div class="nk-carousel-next">
                    <div class="nk-carousel-arrow-name"><!-- There Will be a Name of Portfolio Item --></div>
                    Next
                    <span class="nk-icon-arrow-right"></span>
                </div>
                <div class="nk-carousel-current">
                    <h3 class="nk-carousel-name h4"><!-- There Will be a Name of Portfolio Item --></h3>
                    <div class="nk-carousel-links"></div>
                </div>
            </div>
            <div class="nk-gap"></div>

            <div class="nk-carousel-inner">
                {% for folio in portfolio %}
                    <div>
                        <div class="nk-image-box-1 nk-no-effect nk-portfolio-item">
                            <a href="{{ folio.url }}" class="nk-image-box-link nk-portfolio-quick-view"></a>
                            <img class="nk-portfolio-image" src="{{ folio.thumb_full }}" alt="{{ folio.title }}">
                            <h2 class="nk-portfolio-title nk-carousel-item-name"><a href="{{ folio.url }}" class="nk-portfolio-quick-view">{{ folio.title }}</a></h2>
                            <div class="nk-portfolio-sub-title nk-carousel-item-links">{{ folio.date }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- END: Carousel 6 -->

        <div class="nk-gap-4"></div>
    </div>

{% endblock %}
