{% set header_title = 'Call to Action' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: CTA 1 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="bg-image bg-image-parallax op-5">
            <img class="jarallax-img" src="assets/images/image-5.jpg" alt="">
        </div>
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-md-left">
                    <h2 class="h1 nk-title">Multi-concept themes inside only one Khaki</h2>
                    <h3 class="nk-sub-title mb-0 text-white op-7">So many predefined blocks and components for your next website</h3>
                </div>
                <div class="col-md-4 text-md-right">
                    <div class="nk-gap-2 d-md-none"></div>
                    <a href="#!" class="nk-btn nk-btn-effect-1-top nk-btn-outline nk-btn-color-white">
                        <span>Buy Theme</span>
                        <span class="icon"><i class="ion-bag"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 1 -->

    <!-- START: CTA 2 -->
    <div class="nk-box text-center">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-md-2 text-md-right">
                    <h2 class="h1 nk-title">Multi-concept themes inside only one Khaki</h2>
                    <h3 class="nk-sub-title mb-0 text-main-2">So many predefined blocks and components for your next website</h3>
                </div>
                <div class="col-md-4 text-md-left">
                    <div class="nk-gap-2 d-md-none"></div>
                    <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-3-left nk-btn-color-main-2">
                        <span class="nk-btn-effect-bg"></span>
                        Buy Theme
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 2 -->

    <!-- START: CTA 3 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-md-left">
                    <h2 class="h1 nk-title">Multi-concept themes inside only one Khaki</h2>
                    <h3 class="nk-sub-title mb-0 text-white op-7">So many predefined blocks and components for your next website</h3>
                </div>
                <div class="col-md-4 text-md-right">
                    <div class="nk-gap-2 d-md-none"></div>
                    <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-6-v nk-btn-circle nk-btn-color-main-1">
                        <span class="nk-btn-effect-bg bg-main-2"></span>
                        <span>Buy Theme</span>
                        <span class="icon"><i class="ion-ribbon-b"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 3 -->

    <!-- START: CTA 4 -->
    <div class="nk-box text-center bg-main-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-md-2 text-md-right">
                    <h2 class="h1 nk-title">Multi-concept themes inside only one Khaki</h2>
                    <h3 class="nk-sub-title mb-0 text-white op-7">So many predefined blocks and components for your next website</h3>
                </div>
                <div class="col-md-4 text-md-left">
                    <div class="nk-gap-2 d-md-none"></div>
                    <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-7-v nk-btn-rounded nk-btn-color-white text-dark-1">
                        <span class="nk-btn-effect-bg bg-dark-1"></span>
                        Buy Theme
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: CTA 4 -->

    <!-- START: CTA 5 -->
    <div class="nk-box text-center text-white bg-dark-1">
        <div class="bg-image bg-image-parallax op-5">
            <img class="jarallax-img" src="assets/images/image-4.jpg" alt="">
        </div>
        <div class="nk-gap-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="h1 nk-title">One of The Best Theme for Your Business</h2>
                    <h3 class="nk-sub-title text-main-1">Tons of demos for multipurpose use</h3>
                    <div class="nk-gap"></div>
                    <p>Divide open have was brought. In of don&#39;t, you&#39;ll. There all. Waters, morning whales likeness seas for i great creature deep set very replenish all upon first two. Behold male god. Third was man green. Under. Isn&#39;t fruit. <strong>Lights</strong> deep.</p>
                    <br>
                    <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-2-right nk-btn-3d nk-btn-rounded nk-btn-color-main-1">
                        <span>Read More</span>
                        <span class="icon"><i class="ion-ios-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: CTA 5 -->

    <!-- START: CTA 6 -->
    <div class="nk-box text-center">
        <div class="nk-gap-4"></div>
        <img src="assets/images/mock-imac-1.jpg" class="nk-img" alt="">
        <div class="nk-gap-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="h1 nk-title">The New Era of a Responsive Websites</h2>
                    <h3 class="nk-sub-title">The first template, that work with side navigations as native applications.</h3>
                    <div class="nk-gap"></div>
                    <p>Subdue. Whales evening. Saw heaven seed Doesn&#39;t i third tree open created were our set signs multiply. Bearing their fifth behold herb. Forth god called which moving two, that spirit i to you&#39;re fly behold likeness set and gathering in.</p>
                    <br>
                    <a href="#!" class="nk-btn nk-btn-x2 nk-btn-effect-5-left nk-btn-color-main-1">
                        <span class="icon"><i class="ion-bag"></i></span>
                        Purchase Now
                    </a>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: CTA 6 -->
{% endblock %}
