{% set header_title = 'Team Members' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: Members -->
    <div class="nk-box bg-dark-1">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1-a">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-1.jpg" alt="">
                        <div class="nk-image-box-overlay nk-image-box-center">
                            <div>
                                <h3 class="nk-title text-white h5">Gregory Walker</h3>
                                <h4 class="nk-sub-title text-white op-7">CEO</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1-a">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-2.jpg" alt="">
                        <div class="nk-image-box-overlay nk-image-box-center">
                            <div>
                                <h3 class="nk-title text-white h5">Emily Foster</h3>
                                <h4 class="nk-sub-title text-white op-7">Frontend Developer</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1-a">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-3.jpg" alt="">
                        <div class="nk-image-box-overlay nk-image-box-center">
                            <div>
                                <h3 class="nk-title text-white h5">Jack Carlson</h3>
                                <h4 class="nk-sub-title text-white op-7">Backend Developer</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1-a">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-4.jpg" alt="">
                        <div class="nk-image-box-overlay nk-image-box-center">
                            <div>
                                <h3 class="nk-title text-white h5">Claudia Mckinney</h3>
                                <h4 class="nk-sub-title text-white op-7">Marketing Manager</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Members -->

    <!-- START: Members -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-1.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Gregory Walker</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">CEO</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-2.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Emily Foster</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Frontend Developer</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-3.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Jack Carlson</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Backend Developer</h4>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-4.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <h3 class="nk-title h4">Claudia Mckinney</h3>
                    <h4 class="nk-sub-title text-dark-1 op-5">Marketing Manager</h4>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Members -->

    <!-- START: Members -->
    <div class="nk-box bg-dark-1 text-white text-center">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6 col-lg-3">
                    <h3 class="nk-title h4 mb-0">Gregory Walker</h3>
                    <div class="nk-gap"></div>
                    <div class="nk-image-box-1-a">
                        <img src="assets/images/team-member-1.jpg" alt="">
                        <div class="nk-image-box-overlay nk-image-box-center">
                            <div>
                                <div class="nk-widget-social">
                                    <a href="#"><i class="ion-social-twitter"></i></a>
                                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h3 class="nk-title h4 mb-0">Emily Foster</h3>
                    <div class="nk-gap"></div>
                    <div class="nk-image-box-1-a">
                        <img src="assets/images/team-member-2.jpg" alt="">
                        <div class="nk-image-box-overlay nk-image-box-center">
                            <div>
                                <div class="nk-widget-social">
                                    <a href="#"><i class="ion-social-twitter"></i></a>
                                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h3 class="nk-title h4 mb-0">Jack Carlson</h3>
                    <div class="nk-gap"></div>
                    <div class="nk-image-box-1-a">
                        <img src="assets/images/team-member-3.jpg" alt="">
                        <div class="nk-image-box-overlay nk-image-box-center">
                            <div>
                                <div class="nk-widget-social">
                                    <a href="#"><i class="ion-social-twitter"></i></a>
                                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h3 class="nk-title h4 mb-0">Claudia Mckinney</h3>
                    <div class="nk-gap"></div>
                    <div class="nk-image-box-1-a">
                        <img src="assets/images/team-member-4.jpg" alt="">
                        <div class="nk-image-box-overlay nk-image-box-center">
                            <div>
                                <div class="nk-widget-social">
                                    <a href="#"><i class="ion-social-twitter"></i></a>
                                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Members -->

    <!-- START: Members -->
    <div class="nk-box text-center">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6 col-lg-3">
                    <h3 class="nk-title h4 mb-0">Gregory Walker</h3>
                    <div class="nk-gap"></div>
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-1.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <div class="nk-widget-social nk-widget-social-inverted">
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-instagram-outline"></i></a>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                    </div>
                    <div class="nk-gap"></div>
                    <p>All upon saw them. His own our won't herb. Divide.</p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h3 class="nk-title h4 mb-0">Emily Foster</h3>
                    <div class="nk-gap"></div>
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-2.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <div class="nk-widget-social nk-widget-social-inverted">
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-instagram-outline"></i></a>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                    </div>
                    <div class="nk-gap"></div>
                    <p>The lesser moveth bearing, lights all there fish meat yielding.</p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h3 class="nk-title h4 mb-0">Jack Carlson</h3>
                    <div class="nk-gap"></div>
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-3.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <div class="nk-widget-social nk-widget-social-inverted">
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-instagram-outline"></i></a>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                    </div>
                    <div class="nk-gap"></div>
                    <p>Sea, blessed place land him them years. Is beast she'd.</p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h3 class="nk-title h4 mb-0">Claudia Mckinney</h3>
                    <div class="nk-gap"></div>
                    <div class="nk-image-box-1">
                        <a href="page-about-me.html" class="nk-image-box-link"></a>
                        <img src="assets/images/team-member-4.jpg" alt="">
                    </div>
                    <div class="nk-gap"></div>
                    <div class="nk-widget-social nk-widget-social-inverted">
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-instagram-outline"></i></a>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                    </div>
                    <div class="nk-gap"></div>
                    <p>Third brought their was two place wherein lights sea replenish.</p>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Members -->

{% endblock %}
