{% set header_title = 'Icon Boxes' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: Icon Box 1 -->
    <div class="container">
        <div class="nk-gap-4"></div>

        <div class="row vertical-gap">
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-3">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="ion-speedometer"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title"><a href="#">Fast Load and Work</a></h3>
                        Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-3 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-bg-color-main-4 nk-ibox-icon-hover-bg-color-main-5">
                        <span class="ion-gear-a"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                        Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-3 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-info nk-ibox-icon-hover-bg-color-info">
                        <span class="ion-social-twitter"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title">Social Friendly</h3>
                        Laoreet mauris eu augue auctor turpis mauris iaculis duis taciti ligula luctus parturient cras. Consectetuer fermentum purus curae; parturient fringilla.
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Icon Box 1 -->

    <!-- START: Icon Box 2 -->
    <div class="nk-block text-white">
        <div class="bg-image bg-image-parallax">
            <img class="jarallax-img" src="assets/images/image-9.jpg" alt="">
        </div>
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="display-3 text-center">Title Here</h2>
            <div class="nk-gap-2"></div>

            <div class="row vertical-gap">
                <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                    <div class="nk-box-rounded-2">
                        <div class="bg-color"></div>
                        <div class="nk-ibox-3 nk-ibox-hover">
                            <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-white nk-ibox-icon-hover-bg-color-white">
                                <span class="ion-navicon"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title">Super Navigations</h3>
                                Pharetra lorem venenatis Proin quam ac dignissim, ut nonummy eros interdum. Faucibus felis nisi curabitur. Phasellus habitasse, phasellus sociosqu lectus.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                    <div class="nk-box-rounded-2">
                        <div class="bg-color op-8"></div>
                        <div class="nk-ibox-3 nk-ibox-hover">
                            <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-white nk-ibox-icon-hover-bg-color-white">
                                <span class="ion-ios-infinite"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title">Unlimited Possibilities</h3>
                                Commodo scelerisque rutrum consectetuer ad ad molestie aenean iaculis ad senectus in. Vel felis tellus orci dolor elit turpis condimentum.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                    <div class="nk-box-rounded-2">
                        <div class="bg-color op-4"></div>
                        <div class="nk-ibox-3 nk-ibox-hover">
                            <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-white nk-ibox-icon-hover-bg-color-white">
                                <span class="ion-social-twitter"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <h3 class="nk-ibox-title">Social Friendly</h3>
                                Laoreet mauris eu augue auctor turpis mauris iaculis duis taciti ligula luctus parturient cras. Consectetuer fermentum purus curae; parturient fringilla.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Icon Box 2 -->

    <!-- START: Icon Box 3 -->
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="nk-box-3 bg-dark-1 text-white">
                <div class="nk-gap"></div>
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="ion-iphone"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title"><a href="#">Mobile Friendly</a></h3>
                        Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
                    </div>
                </div>
                <div class="nk-gap"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="nk-box-3 bg-dark-2 text-white">
                <div class="nk-gap"></div>
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon nk-ibox-icon-color-main-1">
                        <span class="ion-speedometer"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title"><a href="#">Fast Load and Work</a></h3>
                        Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                    </div>
                </div>
                <div class="nk-gap"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="nk-box-3 bg-dark-3 text-white">
                <div class="nk-gap"></div>
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon nk-ibox-icon-color-main-2">
                        <span class="ion-gear-a"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                        Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                    </div>
                </div>
                <div class="nk-gap"></div>
            </div>
        </div>
    </div>
    <!-- END: Icon Box 3 -->

    <!-- START: Icon Box 4 -->
    <div class="container">

        <div class="nk-gap-4"></div>
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h2 class="display-2 nk-title">You shouldn't miss it</h2>
                <h3 class="nk-sub-title">If this woman doesn't convince you, read below</h3>
                <div class="nk-gap-2"></div>

                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="nk-box-3 bg-gray-1">
                            <div class="nk-ibox-4">
                                <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                    <span class="ion-ios-speedometer-outline"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title">Fast Load and Work</h3>
                                    Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="nk-box-3 bg-gray-2">
                            <div class="nk-ibox-4">
                                <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                    <span class="ion-ios-gear-outline"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title">Powerful Page Builder</h3>
                                    Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="nk-box-3 bg-gray-2">
                            <div class="nk-ibox-4">
                                <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                    <span class="ion-navicon"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title">Super Navigations</h3>
                                    Pharetra lorem venenatis Proin quam ac dignissim, ut nonummy eros interdum. Faucibus felis nisi curabitur. Phasellus habitasse, phasellus sociosqu lectus.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="nk-box-3 bg-gray-1">
                            <div class="nk-ibox-4">
                                <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-dark-1 nk-ibox-icon-hover-bg-color-dark-1">
                                    <span class="ion-ios-infinite-outline"></span>
                                </div>
                                <div class="nk-ibox-cont">
                                    <h3 class="nk-ibox-title">Unlimited Possibilities</h3>
                                    Commodo scelerisque rutrum consectetuer ad ad molestie aenean iaculis ad senectus in. Vel felis tellus orci dolor elit turpis condimentum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <div class="float-right">
                    <img src="assets/images/woman-1.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
    <!-- END: Icon Box 4 -->

    <!-- START: Icon Box 5 -->
    <div class="container">
        <div class="nk-gap-4"></div>

        <div class="row vertical-gap">
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon nk-ibox-icon-circle">
                        <span class="ion-iphone"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title"><a href="#">Mobile Friendly</a></h3>
                        Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-main-1">
                        <span class="ion-speedometer"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title"><a href="#">Fast Load and Work</a></h3>
                        Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-1 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-primary">
                        <span class="ion-gear-a"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                        Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-1 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-bg-color-main-1 nk-ibox-icon-hover-bg-color-main-5">
                        <span class="ion-navicon"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title">Super Navigations</h3>
                        Pharetra lorem venenatis Proin quam ac dignissim, ut nonummy eros interdum. Faucibus felis nisi curabitur. Phasellus habitasse, phasellus sociosqu lectus.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-1 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-bg-color-dark-1 nk-ibox-icon-hover-bg-color-main-5">
                        <span class="ion-ios-infinite"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title">Unlimited Possibilities</h3>
                        Commodo scelerisque rutrum consectetuer ad ad molestie aenean iaculis ad senectus in. Vel felis tellus orci dolor elit turpis condimentum.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="nk-ibox-1 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-color-info nk-ibox-icon-hover-bg-color-info">
                        <span class="ion-social-twitter"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title">Social Friendly</h3>
                        Laoreet mauris eu augue auctor turpis mauris iaculis duis taciti ligula luctus parturient cras. Consectetuer fermentum purus curae; parturient fringilla.
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Icon Box 5 -->

    <!-- START: Icon Box 6 -->
    <div class="nk-box bg-gray-2">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="float-right">
                        <img class="nk-img-fit-sm-down" src="assets/images/mock-mbp-1.png" alt="">
                        <div class="nk-gap d-md-none"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="h1 nk-title">Stuning Features</h2>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-2">
                        <div class="nk-ibox-icon">
                            <span class="ion-iphone"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Mobile Friendly</a></h3>
                            Varius nullam sociosqu luctus faucibus phasellus Elit amet hendrerit eros, mi egestas mus taciti eros cubilia. Sociosqu lacus hymenaeos egestas.
                        </div>
                    </div>
                    <div class="nk-gap"></div>

                    <div class="nk-ibox-2">
                        <div class="nk-ibox-icon nk-ibox-icon-color-main-1">
                            <span class="ion-speedometer"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Fast Load and Work</a></h3>
                            Faucibus purus litora facilisi vestibulum tempus aptent faucibus, faucibus eros duis Vel conubia bibendum. Nascetur.
                        </div>
                    </div>
                    <div class="nk-gap"></div>

                    <div class="nk-ibox-2 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-hover-color-main-5">
                            <span class="ion-gear-a"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                            Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Icon Box 6 -->

    <!-- START: Icon Box 7 -->
    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="nk-ibox-1 nk-ibox-inverted nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-navicon"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Swipe Side Navigations</a></h3>
                            Female have two day. Beast Make forth so together whose beast wherein dry, subdue. Thing brought Bearing good he. May.
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-1 nk-ibox-inverted nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-iphone"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">100% Responsive</a></h3>
                            They're, seas land shall behold light meat behold form seas creature seas said lights. Gathering without heaven good made, dry.
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-1 nk-ibox-inverted nk-ibox-hover">
                                    <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                                        <span class="ion-paintbrush"></span>
                                    </div>
                                    <div class="nk-ibox-cont">
                                        <h3 class="nk-ibox-title"><a href="#">Multiple Demos</a></h3>
                                        Female male day him behold dominion morning you bearing thing fowl very whales beast given kind waters sixth fourth behold.
                                    </div>
                                </div>
                </div>
                <div class="col-md-4">
                    <img class="nk-img-fit" src="assets/images/mock-iphone6-1.png" alt="">
                    <div class="nk-gap d-md-none"></div>
                </div>
                <div class="col-md-4">
                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-social-buffer"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Unlimited Layouts</a></h3>
                            Blessed waters seed. Face stars. Night yielding above gathered, make. Days he. Of doesn't own you created multiply spirit waters.
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-gear-a"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Powerful Page Builder</a></h3>
                            Nostra a lacus, sollicitudin laoreet, nibh posuere inceptos convallis at ullamcorper, aliquet leo sodales feugiat.
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>

                    <div class="nk-ibox-1 nk-ibox-hover">
                        <div class="nk-ibox-icon nk-ibox-icon-circle nk-ibox-icon-hover-bg-color-main-1">
                            <span class="ion-social-twitter"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <h3 class="nk-ibox-title"><a href="#">Social Friendly</a></h3>
                            Laoreet mauris eu augue auctor turpis mauris iaculis duis taciti ligula luctus parturient cras. Consectetuer fermentum purus curae; parturient fringilla.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Icon Box 7 -->

    <!-- START: Icon Box 8 -->
    <div class="container">
        <div class="nk-gap-4"></div>

        <div class="row vertical-gap">
            <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                <div class="nk-ibox-1 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-bg-color-main-1 nk-ibox-icon-hover-bg-color-main-5">
                        <span class="ion-navicon"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title">Super Navigations</h3>
                        Pharetra lorem venenatis Proin quam ac dignissim, ut nonummy eros interdum. Faucibus felis nisi curabitur. Phasellus habitasse, phasellus sociosqu lectus.
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                <div class="nk-ibox-1 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-bg-color-dark-1 nk-ibox-icon-hover-bg-color-main-5">
                        <span class="ion-ios-infinite"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title">Unlimited Possibilities</h3>
                        Commodo scelerisque rutrum consectetuer ad ad molestie aenean iaculis ad senectus in. Vel felis tellus orci dolor elit turpis condimentum.
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-0 col-sm-8 offset-sm-2">
                <div class="nk-ibox-1 nk-ibox-hover">
                    <div class="nk-ibox-icon nk-ibox-icon-color-info nk-ibox-icon-hover-bg-color-info">
                        <span class="ion-social-twitter"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <h3 class="nk-ibox-title">Social Friendly</h3>
                        Laoreet mauris eu augue auctor turpis mauris iaculis duis taciti ligula luctus parturient cras. Consectetuer fermentum purus curae; parturient fringilla.
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Icon Box 8 -->
{% endblock %}
