{% set header_title = 'Events' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-gap-4"></div>
    <div class="container">
        <!-- START: Events List -->
        <ul class="nk-events-list">
            <li>
                <a href="events-single-1.html" class="nk-event-date">
                    17 Sep
                    <span>2018</span>
                </a>
                <a href="events-single-1.html" class="nk-event-name">
                    <strong>Rock 'N Derby</strong>
                    <span>Shaghticoke, NY</span>
                </a>
                <a href="events-single-1.html" class="nk-event-price">
                    $20
                    <span>Ticket</span>
                </a>
                <div class="nk-event-button nk-event-button-sold">
                    Sold Out
                </div>
            </li>
            <li>
                <a href="events-single-2.html" class="nk-event-date">
                    5 Oct
                    <span>2018</span>
                </a>
                <a href="events-single-2.html" class="nk-event-name">
                    <strong>Governors Ball Music Festival</strong>
                    <span>New York City, NY</span>
                </a>
                <a href="events-single-2.html" class="nk-event-price">
                    $16
                    <span>Ticket</span>
                </a>
                <div class="nk-event-button">
                    <a href="#!" class="nk-btn nk-btn-xs nk-btn-effect-2-right nk-btn-outline nk-btn-color-dark-4 nk-btn-circle">
                        <span>Buy Ticket</span>
                        <span class="icon"><span class="fa fa-ticket"></span></span>
                    </a>
                </div>
            </li>
            <li>
                <a href="events-single-3.html" class="nk-event-date">
                    24 Oct
                    <span>2018</span>
                </a>
                <a href="events-single-3.html" class="nk-event-name">
                    <strong>Mountain Jam</strong>
                    <span>Hunter Mountain, NY</span>
                </a>
                <a href="events-single-3.html" class="nk-event-price">
                    $35
                    <span>Extra ticket</span>
                </a>
                <div class="nk-event-button">
                    Buy on 30 September
                </div>
            </li>
            <li>
                <a href="#" class="nk-event-date">
                    1 Nov
                    <span>2018</span>
                </a>
                <a href="#" class="nk-event-name">
                    <strong>Taste of Country</strong>
                    <span>Hunter Mountain, NY</span>
                </a>
                <a href="#" class="nk-event-price">
                    $14
                    <span>Ticket</span>
                </a>
                <div class="nk-event-button">
                    <a href="#!" class="nk-btn nk-btn-xs nk-btn-effect-2-right nk-btn-outline nk-btn-color-dark-4 nk-btn-circle">
                        <span>Buy Ticket</span>
                        <span class="icon"><span class="fa fa-ticket"></span></span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- END: Events List -->
    </div>
    <div class="nk-gap-4"></div>

    <div class="nk-box bg-dark-1 text-white">
        <div class="nk-gap-4"></div>
        <div class="container">
            <!-- START: Events List -->
            <ul class="nk-events-list">
                <li>
                    <a href="#" class="nk-event-date">
                        1 Nov
                        <span>2018</span>
                    </a>
                    <a href="#" class="nk-event-name">
                        <strong>Taste of Country</strong>
                        <span>Hunter Mountain, NY</span>
                    </a>
                    <a href="#" class="nk-event-price">
                        $14
                        <span>Ticket</span>
                    </a>
                    <div class="nk-event-button">
                        <a href="#!" class="nk-btn nk-btn-xs nk-btn-effect-2-right nk-btn-outline nk-btn-color-white nk-btn-circle">
                            <span>Buy Ticket</span>
                            <span class="icon"><span class="fa fa-ticket"></span></span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" class="nk-event-date">
                        19 Nov
                        <span>2018</span>
                    </a>
                    <a href="#" class="nk-event-name">
                        <strong>Disc Jam</strong>
                        <span>Stephentown, NY</span>
                    </a>
                    <a href="#" class="nk-event-price">
                        $23
                        <span>Ticket</span>
                    </a>
                    <div class="nk-event-button">
                        <a href="#!" class="nk-btn nk-btn-xs nk-btn-effect-2-right nk-btn-outline nk-btn-color-white nk-btn-circle">
                            <span>Buy Ticket</span>
                            <span class="icon"><span class="fa fa-ticket"></span></span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" class="nk-event-date">
                        10 Dec
                        <span>2018</span>
                    </a>
                    <a href="#" class="nk-event-name">
                        <strong>Northside Festival Brooklyn</strong>
                        <span>Brooklyn, NY</span>
                    </a>
                    <a href="#" class="nk-event-price">
                        $21
                        <span>Ticket</span>
                    </a>
                    <div class="nk-event-button">
                        <a href="#!" class="nk-btn nk-btn-xs nk-btn-effect-2-right nk-btn-outline nk-btn-color-white nk-btn-circle">
                            <span>Buy Ticket</span>
                            <span class="icon"><span class="fa fa-ticket"></span></span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" class="nk-event-date">
                        1 Jan
                        <span>2018</span>
                    </a>
                    <a href="#" class="nk-event-name">
                        <strong>Mysteryland USA 2018</strong>
                        <span>Bethel, NY</span>
                    </a>
                    <a href="#" class="nk-event-price">
                        $50
                        <span>Exclusive ticket</span>
                    </a>
                    <div class="nk-event-button nk-event-button-sold">
                        Not yet available.
                    </div>
                </li>
            </ul>
            <!-- END: Events List -->
        </div>
        <div class="nk-gap-4"></div>
    </div>
{% endblock %}
