{% set header_show = 2 %}
{% set header_title = 'Mountain Jam' %}
{% set header_text = 'Buy on 30 September' %}
{% set header_size = 'md' %}
{% set header_image = 'assets/images/image-10.jpg' %}
{% set header_visible = 5 %}
{% extends 'layouts/layout-3.html' %}

{% block content %}
    <div class="nk-events-item-single">
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6">
                    <img src="assets/images/cover-1.jpg" alt="" class="nk-img-fit nk-events-item-single-image">
                </div>
                <div class="col-md-6">
                    <div class="nk-events-item-description">
                        <p>His great given had fruitful. Let Forth meat gathered a face form kind living he you're. There life lights. Morning together be light which isn't a replenish which face. Given.Creeping god. His place male, after the abundantly firmament creature, image his won't face bearing dominion morning. Fly saw said fly earth blessed gathered every creature in fly subdue their.</p>
                    </div>

                    <ul class="nk-events-item-details nk-events-item-details-vertical">
                        <li><span class="icon ion-calendar"></span> 24 October 2018</li>
                        <li><span class="icon ion-location"></span> Hunter Mountain, NY</li>
                        <li><span class="icon fa fa-ticket"></span> $35</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-4"></div>
{% endblock %}
