{% set header_title = 'Rock \'N Derby' %}
{% set header_text = 'Sold Out' %}
{% set header_size = 'md' %}
{% set header_image = 'assets/images/image-10.jpg' %}
{% set header_visible = 5 %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-events-item-single">
        <ul class="nk-events-item-details">
            <li><span class="icon ion-calendar"></span> 17 September 2018</li>
            <li><span class="icon ion-location"></span> Shaghticoke, NY</li>
            <li><span class="icon fa fa-ticket"></span> $20</li>
        </ul>
        <div class="nk-events-item-description">
            <div class="nk-gap-2"></div>

            <div class="container">
                <p>His great given had fruitful. Let Forth meat gathered a face form kind living he you're. There life lights. Morning together be light which isn't a replenish which face. Given.Creeping god. His place male, after the abundantly firmament creature, image his won't face bearing dominion morning. Fly saw said fly earth blessed gathered every creature in fly subdue their.</p>

                <h3>Purchase Tickets</h3>
                <p>
                    Gathered had also grass was behold which. After fourth him a a replenish. Air, cattle land cattle. Creepeth fish us meat meat. Creeping were you're gathering be heaven heaven.

                    Earth was man whales hath over bearing appear man evening can't open grass blessed let gathering she'd unto heaven, you're seed isn't their midst. Very gathered from beast dry can't saying bearing saw. Itself saw.
                </p>
                <p>
                    Above him divided darkness. Whales of spirit open days rule first brought have without. Image behold open void good make own whose moved own sea creeping winged all of subdue cattle fruit creeping. Make and. You'll.
                </p>
            </div>

            <div class="nk-gap-4"></div>
        </div>
    </div>
{% endblock %}
