{% set header_title = 'Shortcuts' %}
{% set header_sub_title = 'Use keyboard to save your time' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="lead">Note: you can change all of this shortcuts in init js file.</div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <!-- START: Audio Player Keys -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h4">Audio Player</h2>
            <p>See audio player here - <a href="element-audio-player.html">element-audio-player.html</a></p>
            <table>
                <tbody>
                    <tr>
                        <td width="150">Play / Pause</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard">P</span></td>
                    </tr>
                    <tr>
                        <td>Forward</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard"><span class="ion-arrow-right-c"></span></span></td>
                    </tr>
                    <tr>
                        <td>Backward</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard"><span class="ion-arrow-left-c"></span></span></td>
                    </tr>
                    <tr>
                        <td>Volume Up</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard"><span class="ion-arrow-up-c"></span></span></td>
                    </tr>
                    <tr>
                        <td>Volume Down</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard"><span class="ion-arrow-down-c"></span></span></td>
                    </tr>
                    <tr>
                        <td>Mute</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard">M</span></td>
                    </tr>
                    <tr>
                        <td>Loop</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard">L</span></td>
                    </tr>
                    <tr>
                        <td>Shuffle</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard">S</span></td>
                    </tr>
                    <tr>
                        <td>Show / Hide Playlist</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard">A</span></td>
                    </tr>
                    <tr>
                        <td>Pin / Unpin</td>
                        <td><span class="nk-keyboard">Shift</span> + <span class="nk-keyboard">R</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Audio Player Keys -->

    <!-- START: Secondary Navbars -->
    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h4">Secondary Navbars</h2>
            <table>
                <tbody>
                    <tr>
                        <td width="150">Right Navbar</td>
                        <td><span class="nk-keyboard">alt</span> + <span class="nk-keyboard">R</span></span></td>
                    </tr>
                    <tr>
                        <td>Left Navbar</td>
                        <td><span class="nk-keyboard">alt</span> + <span class="nk-keyboard">L</span> <small>Will work on mobile sidebar (resize you window)</small></td>
                    </tr>
                    <tr>
                        <td>Fullscreen Navbar</td>
                        <td><span class="nk-keyboard">alt</span> + <span class="nk-keyboard">F</span> <small>See fullscreen navbar here - <a href="layout-nav-2.html">layout-nav-2.html</a></small></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Secondary Navbars -->

    <!-- START: Search Keys -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h4">Search</h2>
            <table>
                <tbody>
                    <tr>
                        <td width="150">Toggle Search</td>
                        <td><span class="nk-keyboard">S</span></td>
                    </tr>
                    <tr>
                        <td>Close Search</td>
                        <td><span class="nk-keyboard">Esc</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Search Keys -->

    <!-- START: Share Keys -->
    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h4">Share</h2>
            <table>
                <tbody>
                    <tr>
                        <td width="150">Toggle Share</td>
                        <td><span class="nk-keyboard">N</span></td>
                    </tr>
                    <tr>
                        <td>Close Share</td>
                        <td><span class="nk-keyboard">Esc</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Share Keys -->

    <!-- START: Post Keys -->
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h4">Single Post</h2>
            <p>Works for single <a href="blog-single-image.html">post</a> and <a href="portfolio-single-1.html">portfolio</a> pages</p>
            <table>
                <tbody>
                    <tr>
                        <td width="150">Like</td>
                        <td><span class="nk-keyboard">L</span></td>
                    </tr>
                    <tr>
                        <td>Dislike</td>
                        <td><span class="nk-keyboard">D</span></td>
                    </tr>
                    <tr>
                        <td>Scroll to Comments</td>
                        <td><span class="nk-keyboard">C</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="nk-gap-4"></div>
    </div>
    <!-- END: Post Keys -->
{% endblock %}
