{% set header_title = 'Like Animation' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="lead">When you liked post / portfolio item / comment / review etc... you will see fullscreen animation.</div>
            <div class="nk-gap"></div>
            <div class="lead">If you don't want it, this can be disabled in init js file.</div>
            <div class="nk-gap"></div>
            <a href="blog-single-image.html" class="nk-btn nk-btn-effect-5-left nk-btn-rounded nk-btn-color-dark-2">Example</a>
            <br>
            <small>Find heart and click on it.</small>
        </div>
        <div class="nk-gap-4"></div>
    </div>
{% endblock %}
