{% set header_title = 'Gallery Wide Slider' %}
{% set header_show = 2 %}
{% extends 'layouts/layout-3.html' %}

{% block content %}

    <div class="nk-carousel-3" data-arrows="true">
        <div class="nk-carousel-inner nk-popup-gallery">
            <div><div>
                <a href="assets/images/portfolio-2-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-2-default.jpg" alt=""></a>
            </div></div>
            <div><div>
                <a href="assets/images/portfolio-4-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-4-default.jpg" alt=""></a>
            </div></div>
            <div><div>
                <a href="assets/images/portfolio-8-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-8-default.jpg" alt=""></a>
            </div></div>
            <div><div>
                <a href="assets/images/portfolio-6-full.jpg" class="nk-gallery-item" data-size="1920x2560"><img src="assets/images/portfolio-6-default.jpg" alt=""></a>
            </div></div>
            <div><div>
                <a href="assets/images/portfolio-1-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-1-default.jpg" alt=""></a>
            </div></div>
            <div><div>
                <a href="assets/images/portfolio-7-full.jpg" class="nk-gallery-item" data-size="1920x2880"><img src="assets/images/portfolio-7-default.jpg" alt=""></a>
            </div></div>
            <div><div>
                <a href="assets/images/portfolio-5-full.jpg" class="nk-gallery-item" data-size="1500x2250"><img src="assets/images/portfolio-5-default.jpg" alt=""></a>
            </div></div>
            <div><div>
                <a href="assets/images/portfolio-3-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-3-default.jpg" alt=""></a>
            </div></div>
        </div>
    </div>

{% endblock %}
