{% set header_show = false %}
{% set header_title = 'Gallery Fullscreen' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <div class="nk-fullpage">
        <div class="nk-fullpage-item" style="background-image: url('assets/images/portfolio-4-full.jpg');"></div>
        <div class="nk-fullpage-item" style="background-image: url('assets/images/portfolio-3-full.jpg');"></div>
        <div class="nk-fullpage-item" style="background-image: url('assets/images/portfolio-6-full.jpg');"></div>
        <div class="nk-fullpage-item" style="background-image: url('assets/images/portfolio-1-full.jpg');"></div>
        <div class="nk-fullpage-item" style="background-image: url('assets/images/portfolio-2-full.jpg');"></div>
    </div>

{% endblock %}
