{% set header_title = 'Masonry Gallery' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <div class="nk-gap-4"></div>

    <div class="container">
        <div class="nk-isotope nk-popup-gallery">
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-2-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-2-default.jpg" alt=""></a>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-4-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-4-default.jpg" alt=""></a>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-8-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-8-default.jpg" alt=""></a>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-6-full.jpg" class="nk-gallery-item" data-size="1920x2560"><img src="assets/images/portfolio-6-default.jpg" alt=""></a>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-1-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-1-default.jpg" alt=""></a>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-7-full.jpg" class="nk-gallery-item" data-size="1920x2880"><img src="assets/images/portfolio-7-default.jpg" alt=""></a>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-5-full.jpg" class="nk-gallery-item" data-size="1500x2250"><img src="assets/images/portfolio-5-default.jpg" alt=""></a>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-3-full.jpg" class="nk-gallery-item" data-size="1920x1280"><img src="assets/images/portfolio-3-default.jpg" alt=""></a>
                </div>
            </div>
            <div class="nk-isotope-item">
                <div class="nk-image-box-1">
                    <a href="assets/images/portfolio-9-full.jpg" class="nk-gallery-item" data-size="1920x1440"><img src="assets/images/portfolio-9-default.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="nk-gap-4"></div>

{% endblock %}
