{% set header_title = 'Layouts Overview' %}
{% set header_title_back = 'All Variations' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h3">Main Navigation</h2>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-1.html"><img src="assets/images/layouts-demo-main-1.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-3.html"><img src="assets/images/layouts-demo-main-3.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-5.html"><img src="assets/images/layouts-demo-main-5.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-6.html"><img src="assets/images/layouts-demo-main-7.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-7.html"><img src="assets/images/layouts-demo-main-8.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-8.html"><img src="assets/images/layouts-demo-main-9.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-9.html"><img src="assets/images/layouts-demo-main-10.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-10.html"><img src="assets/images/layouts-demo-main-11.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-1-light.html"><img src="assets/images/layouts-demo-main-2.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-3-light.html"><img src="assets/images/layouts-demo-main-4.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-5-light.html"><img src="assets/images/layouts-demo-main-6.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-10-light.html"><img src="assets/images/layouts-demo-main-12.jpg" alt="" class="nk-img"></a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h3">Secondary Navigation</h2>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-1.html"><img src="assets/images/layouts-demo-second-1.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-6.html"><img src="assets/images/layouts-demo-second-2.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-2.html"><img src="assets/images/layouts-demo-second-3.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-3-light.html"><img src="assets/images/layouts-demo-second-4.jpg" alt="" class="nk-img"></a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h3">Content Layout</h2>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-sidebar-left.html"><img src="assets/images/layouts-demo-content-1.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-sidebar-right.html"><img src="assets/images/layouts-demo-content-2.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-nav-1.html"><img src="assets/images/layouts-demo-content-3.jpg" alt="" class="nk-img"></a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h3">Headers</h2>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-header.html"><img src="assets/images/layouts-demo-header-1.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-header-sm.html"><img src="assets/images/layouts-demo-header-2.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-header-md.html"><img src="assets/images/layouts-demo-header-3.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-header-lg.html"><img src="assets/images/layouts-demo-header-4.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-header-full.html"><img src="assets/images/layouts-demo-header-5.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-header-video.html"><img src="assets/images/layouts-demo-header-6.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-header-video-plain.html"><img src="assets/images/layouts-demo-header-7.jpg" alt="" class="nk-img"></a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h3">Footers</h2>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-footer-1.html"><img src="assets/images/layouts-demo-footer-1.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-footer-3.html"><img src="assets/images/layouts-demo-footer-3.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-footer-6.html"><img src="assets/images/layouts-demo-footer-6.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-footer-2.html"><img src="assets/images/layouts-demo-footer-2.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-footer-4.html"><img src="assets/images/layouts-demo-footer-4.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-footer-5.html"><img src="assets/images/layouts-demo-footer-5.jpg" alt="" class="nk-img"></a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h3">Page Navigations</h2>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-page-navigation-fixed.html"><img src="assets/images/layouts-demo-page-nav-1.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-page-navigation-fixed-2.html"><img src="assets/images/layouts-demo-page-nav-2.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-page-navigation-static.html"><img src="assets/images/layouts-demo-page-nav-3.jpg" alt="" class="nk-img"></a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h3">Page Borders</h2>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-page-border.html"><img src="assets/images/layouts-demo-border-1.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-page-border-md.html"><img src="assets/images/layouts-demo-border-3.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-page-border-sm.html"><img src="assets/images/layouts-demo-border-4.jpg" alt="" class="nk-img"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-page-border-white.html"><img src="assets/images/layouts-demo-border-2.jpg" alt="" class="nk-img"></a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">
            <h2 class="nk-title h3">Page Boxed</h2>
            <div class="nk-gap"></div>
            <div class="row vertical-gap">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="layout-page-boxed.html"><img src="assets/images/layouts-demo-boxed.jpg" alt="" class="nk-img"></a>
                </div>
            </div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

{% endblock %}
