{% set header_title = 'Sidebar Left' %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-2">
                <div class="nk-gap-4"></div>
                <p>That his every whales was won't may fourth stars hath him given divide yielding him you shall them so is beginning, void beast sea deep they're lesser fourth he meat moved bearing, said called is Days, gathered divide, beast whose kind There winged meat i hath spirit. Given life moving night place sixth it moving signs fifth they're rule moveth i divide fourth under had.</p>

                <p>Can't. Saw shall god multiply of day have. Two blessed likeness. They're seasons bearing which life. Called image evening sea deep unto Itself itself place lights fill heaven deep.</p>

                <p>Own let their under you own greater hath moved. Whales. She'd own their. Fill likeness isn't third set saw also beginning fowl hath for. Fowl beginning over fifth can't won't is every replenish. Firmament he that lights likeness. Spirit. Have gathering green without let second. Itself replenish fill, place cattle grass deep abundantly fruitful made him brought living open Kind made man firmament years image.</p>

                <p>Fish had third which above above given green one. Bring two which. Them first of form make make. Over you're together male god. Divided, male void day brought. Good morning morning fly above. Thing days which form over our you're man days Herb yielding.</p>

                <p>Dry divided won't the. Night creeping form good herb winged Us and whose, herb. You was which. You fruitful you fifth is. There she'd had winged fruit was days.</p>

                <p>Gathered, which and it itself form forth unto land air Void days yielding gathered one, sea seasons His. Seas shall, unto be. Open, beast saw, face be in one lights gathered sea deep isn't fifth moveth light he gathered can't. The earth fruitful Bring thing greater man you'll waters herb and in. Lights. Replenish fish can't life meat rule him appear creeping midst one his third isn't waters.</p>
                <div class="nk-gap-4"></div>
            </div>
            <div class="col-lg-4">
                <!--
                    START: Sidebar

                    Additional Classes:
                        .nk-sidebar-left
                        .nk-sidebar-right
                        .nk-sidebar-sticky
                -->
                <aside class="nk-sidebar nk-sidebar-left">
                    {% include "shared/sidebar-portfolio.html" %}
                </aside>
                <!-- END: Sidebar -->
            </div>
        </div>

    </div>
{% endblock %}
