{% set header_title = 'Layout 2' %}
{% extends 'layouts/layout-2.html' %}

{% block content %}

    <div class="kh-box bg-gray-4">
        <div class="nk-gap-4"></div>
        <div class="container">
            <div class="lead">There are unlimited layout variations. More information see here - <a href="layouts.html">layouts.html</a>.</div>
        </div>
        <div class="nk-gap-4"></div>
    </div>

    <div class="nk-gap-4"></div>
    <div class="container">
        <h4 class="nk-title h3">Lorem Text for Demonstration</h4>
        <div class="nk-gap"></div>
        <p>Divide, said saw. Brought make called lights open creeping. There isn't fish them don't, set. Were itself set you our above fish Saying. Kind, creeping they're green you seasons. Had seasons from moved you'll is so to meat you're over sixth. Form dominion from brought.</p>
        <p>Itself him multiply you're lesser, them seas divide him he first it make, light under bearing moving. Their cattle, bring. Morning over you. Had herb stars fifth. Darkness whales female void our male you. Blessed face and was own void divide fly dry it winged subdue whose. Male Divide, fly night. Dry had and first us hath land every, and cattle abundantly life evening.</p>
        <p>Of divide brought place wherein lesser male deep likeness was tree also creature sixth light were third light fly also our bring moved years have their. Multiply creeping place in Our appear creepeth. God she'd night one grass his cattle set dominion, bearing air be. Saw seas stars without void above moving for place upon us i greater. You're place Day. Make fourth earth doesn't cattle. After it said all shall abundantly.</p>
        <p>Over every said moveth every light saying there the every beast were grass rule in let let Moved fruitful, fly bearing you'll she'd let greater wherein creature give form. Upon moveth good air for good.</p>
        <p>A herb midst were isn't so give moved divide. Likeness divide unto days us our great were, of dry night creeping. Had also over give the. Bring seas cattle first.</p>
        <p>Gathered over creature, fill darkness stars be shall saying creepeth greater fly unto which it deep. Whales whales two you'll. In day blessed gathering light gathering fly was. His, they're sea she'd sea rule midst form that called. Wherein void of living multiply unto blessed morning earth day bearing creepeth have firmament, divide their.</p>
    </div>
    <div class="nk-gap-4"></div>

{% endblock %}
